%header
  %h1 汉字的研究
  %nav
    %ul
      %li
        %ul
          %h3 新观点
          %li
            %a{:href => "hanzi/zwxmhz"} 紫薇星明对汉字的观点 
          %li
            %a{:href => "hanzi/wxwmhz"} 某一个外星文明对汉字的观点  
  
      
    %footer
      
