%article
  %header
    %h3 紫薇星明对汉字的观点
    
  %p
    语言的力量也许是思维上无法理解，所谓语言的力量，是首先明确语言的含义。
    语言是意识之间交流的衍生品。一个比喻：货币是商品交换的衍生品。我想，这样大概可以明白语言的价值，
    和用处等等。如果你认为一块石头，没有意识，自然没有交流的可能，你要改变它，只有使用力量。
    实际上，你看到的石头有自己意识，但是这种意识的层次和规模绝不是肉眼看见的那么简单。
    %br
    语言的力量:
    %br
    1，交流，让那个东西自己走。
    %br
    2，交流消耗的力量，包括传递的力量，传递的信息转换的力量。
    %br
    3，交流的方式包括，识别，焦点的集中，传递。
    %br
    4，交流的内容包括，主体和载体的区分，交流范围识别和确定。
    %br
    5，交流的位置确定，自我与总体的关系，信息共享。
    %br
    每个意识都有主体和载体，主体就是所谓的灵魂，载体就是这个灵魂构筑的一大堆可知和不可知的乱七八糟的信息媒介。
    每个人都有超过主体几倍，几十倍，几百倍的载体。这些载体可能构成了其它空间生命和灵魂的组成架构。
    %br
    汉语的意义，在于发展人类的能力
    推广汉语，就是建立人类获得远古时代人类的力量。当然，直接回到鲁曼尼亚时代的智慧是不可能的。
    我们的脑袋没有那么大。我们的大脑也比鲁曼尼   亚人少了三层。我们的思维能力仅仅能形成“自我”，而不能形成群体的本能认知，而更高的还有“希望”和“凝聚”的能力。
鲁曼尼亚人只要说出希望，大地会自动地塑造，我们这种大脑只有三层的人类永远是想不明白如何完成的。对内，利用汉语进行思维逻辑的建设，在睡觉时进行整合，会获得奇怪的社会整体的本能意识。形成意识层面的集体本能。然后是建立阐述希望的本能，最终是形成凝聚的能力，就是你说出一串咒语，然后，那啥那啥的就出现了，，，
汉语的力量，很多人没有发现
用语言，包括声音，图像和语言自身的逻辑发展能力，来改变物质世界的力量，很多人没有发现。
汉语是根据第二文明的语言发展而来的。
